# .gitignore configuration

# VScode, Idea settings
.vscode
.idea

# environment variables
.env
.envrc
.direnv

# system files
.DS_Store
/src/.DS_Store

# build artifacts
/target


# Ignore local DBs and weird files
*.db
*.db-wal
*.db-shm
NUL
.pre-commit-config.yaml

# Shuttle
Secrets*.toml

# Snapshots
/data